In [3]:
%cd /home/wallar/projects/ridesharing/c++/data-sim/
%cd v1000-c4-w300-p0-2-18-2013-1489260474

/home/wallar/projects/ridesharing/c++/data-sim
/home/wallar/projects/ridesharing/c++/data-sim/v1000-c4-w300-p0-2-18-2013-1489260474

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("metrics_its.csv")

In [6]:
df.describe()

/usr/local/lib/python2.7/dist-packages/numpy/lib/function_base.py:4116: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

,Unnamed: 0,active_taxis,capacity,empty_moving_to_pickup,empty_rebalancing,empty_waiting,is_long,mean_delay,mean_km_travelled,mean_passengers,...,time_pass_2,time_pass_3,time_pass_4,time_pass_5,time_pass_6,time_pass_7,time_pass_8,time_pass_9,total_km_travelled,total_passengers
count,2879.000000,2879.000000,2879.0,2879.000000,2879.000000,2879.0,2879.0,2875.000000,2879.000000,2879.000000,...,2879.000000,2879.000000,2879.000000,2879.0,2879.0,2879.0,2879.0,2879.0,2879.000000,2879.000000
mean,1439.000000,516.654047,4.0,8.907954,474.437999,0.0,1.0,378.750128,107.316655,1.450488,...,115.453630,158.415769,167.183050,0.0,0.0,0.0,0.0,0.0,107316.654862,66261.895102
std,831.240038,197.212540,0.0,12.796784,194.915030,0.0,0.0,50.263893,73.871705,0.658665,...,39.050579,76.416595,97.219471,0.0,0.0,0.0,0.0,0.0,73871.704820,50952.802306
min,0.000000,0.000000,4.0,0.000000,272.000000,0.0,1.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
25%,719.500000,415.000000,4.0,4.000000,331.500000,0.0,1.0,NaN,34.237299,0.998000,...,100.000000,108.500000,68.000000,0.0,0.0,0.0,0.0,0.0,34237.298537,13933.000000
50%,1439.000000,610.000000,4.0,6.000000,383.000000,0.0,1.0,NaN,96.345406,1.772000,...,123.000000,189.000000,215.000000,0.0,0.0,0.0,0.0,0.0,96345.405890,57417.000000
75%,2158.500000,663.000000,4.0,10.000000,570.000000,0.0,1.0,NaN,174.157404,1.982000,...,142.000000,219.500000,246.000000,0.0,0.0,0.0,0.0,0.0,174157.403520,113267.000000
max,2878.000000,721.000000,4.0,198.000000,902.000000,0.0,1.0,585.600000,240.990336,2.166000,...,209.000000,271.000000,314.000000,0.0,0.0,0.0,0.0,0.0,240990.336000,155717.000000

In [15]:
sp = df["n_pickups"].sum() / (df["n_pickups"].sum() + df["n_ignored"].sum())

In [17]:
df["serviced_percentage"]

0.396620055526

In [18]:
mtd = df["mean_delay"] - df["mean_waiting_time"]

In [19]:
print mtd.mean()

195.505325818